In [1]:
import pandas as pd

In [2]:
#Reading in CSV files
car_data_clean = pd.read_csv('car_data_clean.csv')

/Users/goldbellconsulting-ddb/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#Checking intitial car dataset
car_data_clean.describe()

,price_fs,miles_fs,year_is,engine_size_ss,doors_is,cylinders_is,dom_is,dom_180_is,msrp_fs,dom_active_is,is_certified_is
count,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06,3.509809e+06
mean,2.170459e+04,5.629869e+04,2.013852e+03,3.232677e+00,3.846012e+00,5.428182e+00,9.253065e+01,6.104793e+01,2.217337e+04,5.296543e+01,1.349216e-01
std,1.307646e+04,4.051145e+04,3.148237e+00,1.308314e+00,5.332612e-01,1.518961e+00,1.379471e+02,1.091406e+02,1.334253e+04,9.121298e+01,3.416398e-01
min,1.100000e+03,0.000000e+00,1.990000e+03,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.200000e+03,0.000000e+00,0.000000e+00
25%,1.400000e+04,2.901600e+04,2.013000e+03,2.400000e+00,4.000000e+00,4.000000e+00,2.300000e+01,1.500000e+01,1.454100e+04,1.300000e+01,0.000000e+00
50%,1.900000e+04,4.432600e+04,2.015000e+03,3.000000e+00,4.000000e+00,6.000000e+00,5.100000e+01,3.200000e+01,1.977400e+04,2.900000e+01,0.000000e+00
75%,2.700000e+04,7.479200e+04,2.016000e+03,3.600000e+00,4.000000e+00,6.000000e+00,1.100000e+02,6.600000e+01,2.785000e+04,5.900000e+01,0.000000e+00
max,9.999990e+05,2.600070e+06,2.019000e+03,8.400000e+00,5.000000e+00,1.500000e+01,2.106000e+03,2.106000e+03,9.999990e+05,2.106000e+03,1.000000e+00

In [4]:
car_data_clean.isnull().sum()

id                        0
vin_ss                    0
price_fs                  0
miles_fs                  0
stock_no_ss              27
year_is                   0
make_ss                   0
model_ss                  0
trim_ss                   0
vehicle_type_ss           0
body_type_ss              0
drivetrain_ss             0
engine_ss                 0
engine_size_ss            0
transmission_ss           0
doors_is                  0
cylinders_is              0
interior_color_ss    100394
exterior_color_ss     11679
zip_is                    0
dom_is                    0
dom_180_is                0
msrp_fs                   0
dom_active_is             0
is_certified_is           0
fuel_type_ss              0
scraped_at_dts            0
status_date_dts           0
city_ss                   0
state_ss                  0
dtype: int64

In [5]:
car_data_clean = car_data_clean.dropna()

In [6]:
car_data_clean.isnull().sum()

id                   0
vin_ss               0
price_fs             0
miles_fs             0
stock_no_ss          0
year_is              0
make_ss              0
model_ss             0
trim_ss              0
vehicle_type_ss      0
body_type_ss         0
drivetrain_ss        0
engine_ss            0
engine_size_ss       0
transmission_ss      0
doors_is             0
cylinders_is         0
interior_color_ss    0
exterior_color_ss    0
zip_is               0
dom_is               0
dom_180_is           0
msrp_fs              0
dom_active_is        0
is_certified_is      0
fuel_type_ss         0
scraped_at_dts       0
status_date_dts      0
city_ss              0
state_ss             0
dtype: int64

In [7]:
car_data_clean.describe()

,price_fs,miles_fs,year_is,engine_size_ss,doors_is,cylinders_is,dom_is,dom_180_is,msrp_fs,dom_active_is,is_certified_is
count,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06,3.408447e+06
mean,2.173721e+04,5.598587e+04,2.013876e+03,3.225457e+00,3.845430e+00,5.420651e+00,9.240662e+01,6.094624e+01,2.221068e+04,5.285306e+01,1.374905e-01
std,1.311539e+04,4.011744e+04,3.122020e+00,1.303680e+00,5.342070e-01,1.515559e+00,1.375779e+02,1.087878e+02,1.338553e+04,9.073074e+01,3.443645e-01
min,1.100000e+03,0.000000e+00,1.990000e+03,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.200000e+03,0.000000e+00,0.000000e+00
25%,1.400000e+04,2.891100e+04,2.013000e+03,2.400000e+00,4.000000e+00,4.000000e+00,2.300000e+01,1.500000e+01,1.458800e+04,1.300000e+01,0.000000e+00
50%,1.909400e+04,4.410600e+04,2.015000e+03,3.000000e+00,4.000000e+00,6.000000e+00,5.200000e+01,3.200000e+01,1.979400e+04,2.900000e+01,0.000000e+00
75%,2.700000e+04,7.438200e+04,2.016000e+03,3.600000e+00,4.000000e+00,6.000000e+00,1.100000e+02,6.600000e+01,2.787500e+04,5.900000e+01,0.000000e+00
max,9.999170e+05,2.600070e+06,2.019000e+03,8.400000e+00,5.000000e+00,1.500000e+01,2.106000e+03,2.106000e+03,9.999170e+05,2.106000e+03,1.000000e+00

In [8]:
#Reading in the other datasets
county_demo = pd.read_csv('county_demos_cleaned.csv')
zip_county = pd.read_csv('zip_code_database_cleaned.csv')
age = pd.read_csv('year_age.csv')
region = pd.read_csv('regions_states.csv')

In [9]:
#Inner Join: County Demographic and Zip Datasets
df_countydemo_zip = pd.merge(zip_county, county_demo, how='inner', left_on=['county','state'], right_on=['County','State short'])

In [10]:
#Checking merge of previous cell
#df_countydemo_zip.tail
df_countydemo_zip.describe()

,zip,decommissioned,latitude,longitude,irs_estimated_population_2015,Rank,Population,Number of households
count,41366.000000,41366.000000,41366.000000,41366.000000,41366.000000,41366.000000,4.136600e+04,4.136600e+04
mean,49614.097447,0.013127,38.503379,-90.923899,6933.144684,1194.810738,5.293720e+05,1.894470e+05
std,27728.837404,0.113819,5.045521,14.882693,12044.290543,889.858752,1.299848e+06,4.369732e+05
min,501.000000,0.000000,19.070000,-176.630000,0.000000,1.000000,7.100000e+01,3.300000e+01
25%,26278.500000,0.000000,35.030000,-97.240000,335.000000,420.000000,2.939900e+04,1.145900e+04
50%,48837.500000,0.000000,39.110000,-87.890000,1350.000000,1029.500000,1.022700e+05,3.954550e+04
75%,72931.500000,0.000000,41.850000,-80.100000,7420.000000,1890.000000,4.953260e+05,1.847880e+05
max,99927.000000,1.000000,68.090000,-67.010000,114420.000000,3142.000000,9.893481e+06,3.230383e+06

In [11]:
df_countydemo_zip.isnull().sum()

zip                              0
type                             0
decommissioned                   0
primary_city                     0
state                            0
county                           0
timezone                         0
latitude                         0
longitude                        0
irs_estimated_population_2015    0
county full                      0
Rank                             0
County                           0
State short                      0
Per Capita income                0
Median Household income          0
Median Family income             0
Population                       0
Number of households             0
State full                       0
dtype: int64

In [12]:
df_countydemo_zip.to_csv('countydemo_zip.csv', index=False, header=True)

In [13]:
#Inner Join: Original Car Data and Age Datasets
df_car_age = pd.merge(car_data_clean, age, how='inner', left_on='year_is', right_on='YEAR')
df_car_age.head

<bound method NDFrame.head of                                            id             vin_ss  price_fs  \
0        00000433-1e18-46f5-befa-cb338ff4c44c  4T1BF1FK8CU553915     12997
1        00001f93-71a1-4577-935d-9453f978de5b  4S4BRBCC5C3224735     11789
2        000088fe-58ea-40a0-b456-b48fd8b15bd7  1FAHP3K22CL161568      9590
3        00009307-877b-462c-876d-5b028c430743  4T1BF1FK1CU614036     12308
4        00013abc-b294-4433-98a6-06c4b250b401  19XFB2F55CE074688     10388
5        0001b330-c8f3-4ee3-90b3-8f982d10b7b5  ZAM45KLA7C0066211     43900
6        00026bf4-8360-44a8-af24-753be3e54fc4  JTDKN3DU2C5453956     12998
7        00036921-2516-4b7d-90fc-d7c560f29b1d  JN8AS1MW0CM156379     18995
8        00036f0f-25a5-4cf7-b9de-bc75ab87ac08  1C6RD7GT3CS320482     20973
9        0003940b-2e46-4d67-9a1f-0b4b31873ac2  1C4BJWFGXCL178112     24990
10       00046a36-6df4-400a-8087-ee38001769a5  3FAHP0HA7CR101932     11500
11       0004ae27-9b4a-4a2f-9f5a-71acebd0cc13  1G1JC6SB1C4186926      7995
12       0004c517-10ff-4dea-a9be-f4f8485330c3  1C4RJFAG6CC199237     12993
13       0004e8d6-c273-470b-bdb9-4be5379b5303  2GKFLTEK4C6220657      9394
14       00052628-bf5a-413b-8f77-f55f36976ccc  JTDZN3EUXC3141778     12950
15       00059a9a-f394-42a1-b234-903ec7515c5c  2T2BK1BA6CC149081     23875
16       0006c9a8-25d3-43e8-93f3-93e887501bd3  3VW3L7AJ7CM311170     13992
17       0006e53c-abed-42bd-b4d6-afdeef4af023  1GNKVJED9CJ159939     12200
18       000777cd-a563-41bc-a996-491673ce2cdf  1N6AA0EC2CN313818     21850
19       00078c61-5fbd-4d57-98be-1efd3c743a37  3C4PDCBG4CT170187     10200
20       00082614-fe92-4245-b3e3-9ba29b75c848  JM1BL1UG5C1506600      9229
21       0008e087-6347-4bb6-80ab-ba4c7e5994e2  1N4AA5AP2CC859061      9308
22       0008e964-5424-4215-a2c9-45d86d293533  1C4BJWFG0CL133664     28981
23       000901bc-ad5b-471b-a9ba-d6f4a3baf937  1C4HJWEG7CL261458     24850
24       00096e97-0027-40d8-841e-10bd34a85829  1FAHP3K25CL189803      8899
25       000ac161-a656-438e-b613-a917422ad639  3FAHP0JA0CR112233     10500
26       000ad71c-c713-4f6c-896b-257fea46db65  1FAHP3M21CL114738      6400
27       000b2251-32b1-448e-94c2-17dec3d08c4e  1FTFW1EF9CFC72429     19490
28       000bf18a-fa51-414a-9bfa-f1097d5bece2  1C4RJFAG7CC324455     16472
29       000c0f1b-017c-4902-b578-0e16ebc3a182  1FMHK8F80CGA57783     22100
...                                       ...                ...       ...
3408288  e8475b76-6683-47b6-ac73-fed7dce40e72  JH4NA1158MT001290     49995
3408289  e8dea378-1b2c-40e2-91d6-75be323c3348  1G1YY3388M5116580     16994
3408290  e90bd9e3-1644-4d25-b1a6-5d1356b9476d  WBSHD9310MBK05711     19991
3408291  eb8d050a-275a-454d-98cf-5b3890f4d344  1G4BR83E8MW401962     11975
3408292  ed78ef17-9b27-4552-bdc3-fac597b59463  WDBCA25E2MA594065      4900
3408293  ee9edeb7-c173-4619-b877-53d037d4b7eb  WDBFA61E5MF017236      9749
3408294  ef306374-4d60-48d9-878f-68665b421302  1FTEX15H5MKB04967      3995
3408295  ef4eedd5-a30f-4d10-8073-bca282346916  1G3WH54T6MD366077      3987
3408296  efc4fdb2-438e-43a7-b969-75de9e7257a7  1G1FP23E1ML143156      4991
3408297  f01b3d13-7462-45b8-ad8f-2ddd2a8f0a9a  WP0AA2966MS480236    115000
3408298  f2dfdee4-e7b5-46d2-b316-2c366c14171c  1G4EC33L6MB900430     11888
3408299  f44536b4-447c-4ac2-be30-503de33ea02e  JM1NA3517M0232462      3750
3408300  f488b96e-fe4e-442d-b4fc-336bb28a6e76  1G1YY2386M5109587     11498
3408301  f571bb8f-55d2-4424-a91e-6b2434abc2df  JN1CZ24H9MX504450     29900
3408302  f5a8da5e-4bc1-4f7c-986b-e0431a87e1e2  WP0AA2961MS480192    103869
3408303  f6153120-575a-4bd4-8e63-7bb590b939af  WDBFA66E2MF014545      8995
3408304  f62d3c8e-4cbc-4551-8894-b25d1b57cb4b  JH4NA1156MT002602     66995
3408305  f68f26a7-35f4-4bb3-9c46-2489b4f59bb2  WDBFA66E3MF016269     15475
3408306  f87c79a3-e002-4261-9a2f-bfe1f94da0ee  2GCEK19K2M1136330      2499
3408307  f9e36798-4d9c-428c-ae14-2f0049951282  JM1NA3519M0235234      6988
3408308  f9fd3ecf-1cd7-47bc-9d59-01d19cf22f75  1GTDK14K9MZ504982      2995
3408309  fabe48cf-0e01-4bb7-b8bf-360361cfe9c5  WP0AA296XMS480532    129500
3408310  fad643fb-5579-49b9-b271-c1389095dde5  1G1YY2388M5107310     10000
3408311  fbdbc2df-781d-4455-a116-fba3bbe66ecc  1GDCT14ZXM8802819     28750
3408312  fbdf7e01-4d69-442f-bce3-01c364cb81e4  1G4EZ13L0MU402330      3300
3408313  fc5e90cc-c36b-4601-bed7-6ef10618a095  ZC2FS1202MB208165     12888
3408314  fd4c4505-c2e2-456c-bdd6-7d514da5cfcc  WDBCA39E0MA596803      7900
3408315  fdf0478b-337b-43fa-9c6e-8404e915c0b1  WP0CB2968MS461371     38900
3408316  fe5f3727-9e11-459e-b8c4-15f3e3c320ff  1FTDF15Y2MKA19132      3999
3408317  ff62e314-ac7e-42a6-a1fc-ac36ba903c54  1G1YY3388M5116580     16994

         miles_fs stock_no_ss  year_is        make_ss         model_ss  \
0           68475     UCJ2478     2012         Toyota            Camry
1          112377      S2592A     2012         Subaru          Outback
2           57076   STA180597     2012           Ford            Focus
3           67943     B909618     2012         Toyota            Camry
4           56409      H3744C     2012          Honda            Civic
5           28102       C6211     2012       Maserati      GranTurismo
6           73965     39964-1     2012         Toyota            Prius
7           66971     MV9475A     2012       INFINITI               FX
8           73670  TOU182517A     2012            Ram             1500
9           75855       21714     2012           Jeep         Wrangler
10          44556    CR101932     2012           Ford           Fusion
11         110249       50066     2012      Chevrolet            Sonic
12         133415      H4350A     2012           Jeep   Grand Cherokee
13         135732    C6220657     2012            GMC          Terrain
14          87825    T141778A     2012         Toyota          Prius v
15          59009     181221A     2012          Lexus           RX 350
16          47606     9834500     2012     Volkswagen            Jetta
17         113480     BM18182     2012      Chevrolet         Traverse
18          77032      FP3366     2012         Nissan            Titan
19          83162    CT170187     2012          Dodge          Journey
20          39967    HT17789B     2012          Mazda                3
21          98765    CC859061     2012         Nissan           Maxima
22          89228   TCL133664     2012           Jeep         Wrangler
23          69958       4366A     2012           Jeep         Wrangler
24          67819    CL189803     2012           Ford            Focus
25          50891    CR112233     2012           Ford           Fusion
26         112000       10138     2012           Ford            Focus
27          82535      C72429     2012           Ford            F-150
28          91904       21181     2012           Jeep   Grand Cherokee
29          50858    NPA57783     2012           Ford         Explorer
...           ...         ...      ...            ...              ...
3408288     85502      PA0129     1991          Acura              NSX
3408289     28246      MA643B     1991      Chevrolet         Corvette
3408290    120384      1455-C     1991            BMW               M5
3408291     73098      401962     1991          Buick       Roadmaster
3408292    182524  1991300SEL     1991  Mercedes-Benz        300-Class
3408293     72412    TT41595M     1991  Mercedes-Benz        300-Class
3408294    191746       10736     1991           Ford            F-150
3408295     99842     D366077     1991     Oldsmobile  Cutlass Supreme
3408296    139580     218105C     1991      Chevrolet           Camaro
3408297     59100    12152632     1991        Porsche              911
3408298     49763     C900430     1991          Buick           Reatta
3408299    143000      232462     1991          Mazda       MX-5 Miata
3408300     58332     M11441A     1991      Chevrolet         Corvette
3408301     44736        6393     1991         Nissan            300ZX
3408302     47287   PMS480192     1991        Porsche              911
3408303     60490      P1638B     1991  Mercedes-Benz        500-Class
3408304     13304     2U17977     1991          Acura              NSX
3408305     89465        3500     1991  Mercedes-Benz        500-Class
3408306    218478      P1129B     1991      Chevrolet         C/K 1500
3408307     57624      P82941     1991          Mazda       MX-5 Miata
3408308    203558      504982     1991            GMC  Sierra C/K 1500
3408309     45255      480532     1991        Porsche              911
3408310     41035    T81379B2     1991      Chevrolet         Corvette
3408311     87000      802819     1991            GMC          Syclone
3408312     64564       S1515     1991          Buick          Riviera
3408313     54048       08165     1991       Chrysler               TC
3408314    109522    61596803     1991  Mercedes-Benz        560-Class
3408315    106937       C3491     1991        Porsche              911
3408316     84324      B9314A     1991           Ford            F-150
3408317     28246      MA643B     1991      Chevrolet         Corvette

                          trim_ss vehicle_type_ss ... msrp_fs dom_active_is  \
0                               L             Car ...   12997            36
1               2.5i Premium PZEV             Car ...   11789             8
2                              SE             Car ...   10337            37
3                               L             Car ...   12308             4
4                              LX             Car ...   10388            25
5                     S Automatic             Car ...   43900             0
6                           Three             Car ...   15000            87
7                            FX35             SUV ...   21995             3
8                             SLT           Truck ...   20973             2
9               Unlimited Rubicon             SUV ...   24990           106
10                             SE             Car ...   11500            66
11                             LT             Car ...    7995             4
12                         Laredo             SUV ...   12993            14
13                          SLE-2             SUV ...    9394            34
14                            Two             Car ...   12950            11
15                           Base             SUV ...   23875             8
16                            TDI             Car ...   13992            41
17                             LT             SUV ...   13406            25
18                              S           Truck ...   21850             3
19                            SXT             SUV ...   11016             6
20                        i Sport             SUV ...   11500            39
21                          3.5 S             Car ...    9308            44
22              Unlimited Rubicon             SUV ...   28981            13
23               Unlimited Sahara             SUV ...   24850             8
24                             SE             Car ...    8899            52
25                            SEL             Car ...   10939             4
26                            SEL             Car ...    6400            32
27                            FX4           Truck ...   19490           128
28                         Laredo             SUV ...   18495             5
29                        Limited             SUV ...   24575            22
...                           ...             ... ...     ...           ...
3408288                     Coupe             Car ...   59998             0
3408289               Convertible             Car ...   19994            86
3408290                      Base             Car ...   19991            43
3408291                    Estate             Car ...   11975           124
3408292                    300SEL             Car ...    4900           204
3408293                     300SL             Car ...    9749            44
3408294  S SuperCab Short Bed 2WD           Truck ...    4995           296
3408295                      Base             Car ...    3987            24
3408296                  RS Coupe             Car ...    4991            29
3408297             Carrera Turbo             Car ...  115000           213
3408298                      Base             Car ...   11888             0
3408299                      Base             Car ...    3750           213
3408300                      Base             Car ...   11498            11
3408301                     300ZX             Car ...   29900           422
3408302             Carrera Turbo             Car ...  103869          1493
3408303                     500SL             Car ...    8995           163
3408304                     Coupe             Car ...   66995          1229
3408305                     500SL             Car ...   15475           101
3408306                     K1500           Truck ...    2499            89
3408307                      Base             Car ...    6988             6
3408308  Reg. Cab 6.5-Ft. Bed 4WD           Truck ...    2995            57
3408309             Carrera Turbo             Car ...  129500           213
3408310                      Base             Car ...   10000            15
3408311                      Base           Truck ...   28750           460
3408312                      Base             Car ...    3300           137
3408313                      Base             Car ...   12888          1810
3408314                    560SEL             Car ...    7900           179
3408315       Carrera 2 Cabriolet             Car ...   44850           267
3408316  S Reg. Cab Short Bed 2WD           Truck ...    3999            38
3408317               Convertible             Car ...   19994            86

        is_certified_is      fuel_type_ss        scraped_at_dts  \
0                     0  Regular Unleaded  2018-08-22T16:25:51Z
1                     0  Regular Unleaded  2018-09-15T22:19:15Z
2                     0  Regular Unleaded  2018-09-10T23:34:24Z
3                     0  Regular Unleaded  2018-09-15T22:07:29Z
4                     0  Regular Unleaded  2018-09-02T01:43:41Z
5                     0  Premium Unleaded  2018-05-08T05:50:45Z
6                     0  Regular Unleaded  2018-07-12T17:47:39Z
7                     0  Premium Unleaded  2018-09-21T16:53:32Z
8                     0         Flex-Fuel  2018-09-22T19:44:53Z
9                     0  Regular Unleaded  2018-08-25T14:30:43Z
10                    0  Regular Unleaded  2018-07-20T12:57:29Z
11                    0  Regular Unleaded  2018-09-20T04:17:10Z
12                    0         Flex-Fuel  2018-09-12T02:05:33Z
13                    0  Regular Unleaded  2018-09-19T16:41:44Z
14                    0  Regular Unleaded  2018-09-14T15:29:47Z
15                    1  Regular Unleaded  2018-09-13T22:18:37Z
16                    1            Diesel  2018-08-10T19:09:49Z
17                    0  Regular Unleaded  2018-09-05T18:54:27Z
18                    0  Regular Unleaded  2018-09-14T10:08:32Z
19                    0  Regular Unleaded  2018-09-18T20:33:31Z
20                    0  Regular Unleaded  2018-08-17T11:04:14Z
21                    0  Premium Unleaded  2018-08-12T14:04:16Z
22                    0  Regular Unleaded  2018-09-16T01:03:31Z
23                    0  Regular Unleaded  2018-09-16T01:38:38Z
24                    0  Regular Unleaded  2018-09-13T21:20:46Z
25                    0  Regular Unleaded  2018-09-21T23:53:15Z
26                    0  Regular Unleaded  2018-08-23T00:08:35Z
27                    0         Flex-Fuel  2018-07-01T05:30:03Z
28                    0         Flex-Fuel  2018-09-12T18:31:51Z
29                    0  Regular Unleaded  2018-09-18T10:42:47Z
...                 ...               ...                   ...
3408288               0  Regular Unleaded  2018-05-24T08:03:48Z
3408289               0  Regular Unleaded  2018-09-09T13:59:24Z
3408290               0  Regular Unleaded  2018-09-13T13:31:29Z
3408291               0  Regular Unleaded  2018-05-30T00:01:06Z
3408292               0  Regular Unleaded  2018-06-03T02:35:34Z
3408293               0  Regular Unleaded  2018-09-20T00:09:41Z
3408294               0  Regular Unleaded  2018-09-23T17:42:01Z
3408295               0  Regular Unleaded  2018-08-31T20:19:47Z
3408296               0  Regular Unleaded  2018-08-26T16:57:22Z
3408297               0  Regular Unleaded  2018-02-23T12:45:16Z
3408298               0  Regular Unleaded  2018-04-16T15:27:13Z
3408299               0  Regular Unleaded  2018-02-22T13:23:09Z
3408300               0  Regular Unleaded  2018-09-13T23:24:58Z
3408301               0  Regular Unleaded  2018-02-23T21:55:27Z
3408302               0  Regular Unleaded  2018-09-20T00:07:27Z
3408303               0  Regular Unleaded  2018-09-16T01:00:50Z
3408304               0  Regular Unleaded  2018-08-30T13:43:26Z
3408305               0  Regular Unleaded  2018-06-15T07:47:47Z
3408306               0  Regular Unleaded  2018-08-31T12:59:34Z
3408307               0  Regular Unleaded  2018-09-23T01:08:36Z
3408308               0  Regular Unleaded  2018-08-21T20:34:04Z
3408309               0  Regular Unleaded  2018-02-23T12:44:42Z
3408310               0  Regular Unleaded  2018-09-11T01:37:46Z
3408311               0  Regular Unleaded  2018-03-04T09:44:34Z
3408312               0  Regular Unleaded  2018-09-08T21:15:17Z
3408313               0  Regular Unleaded  2018-02-23T17:13:07Z
3408314               0  Regular Unleaded  2018-09-15T11:19:56Z
3408315               0  Regular Unleaded  2018-08-18T22:51:26Z
3408316               0  Regular Unleaded  2018-08-17T11:05:56Z
3408317               0  Regular Unleaded  2018-09-08T22:18:51Z

              status_date_dts              city_ss state_ss  YEAR AGE
0        2018-09-23T18:43:48Z            Pineville       MO  2012   7
1        2018-09-23T00:06:44Z              Chester       VA  2012   7
2        2018-09-22T23:56:29Z                Pasco       WA  2012   7
3        2018-09-23T22:43:11Z              Augusta       GA  2012   7
4        2018-09-24T01:10:19Z            Owensboro       KY  2012   7
5        2018-09-23T18:50:19Z             Marietta       GA  2012   7
6        2018-09-24T00:20:09Z             Columbia       SC  2012   7
7        2018-09-23T16:24:42Z                 Saco       ME  2012   7
8        2018-09-23T20:43:56Z            Getzville       NY  2012   7
9        2018-09-23T15:58:38Z         Poughkeepsie       NY  2012   7
10       2018-09-23T12:51:15Z              Elkhart       IN  2012   7
11       2018-09-23T23:10:09Z            Hillsboro       OR  2012   7
12       2018-09-24T01:44:58Z            Charlotte       NC  2012   7
13       2018-09-23T13:14:26Z           Cincinnati       OH  2012   7
14       2018-09-23T22:18:08Z              Raleigh       NC  2012   7
15       2018-09-24T01:10:51Z           Naperville       IL  2012   7
16       2018-09-23T21:31:23Z            Iowa City       IA  2012   7
17       2018-09-23T21:29:52Z             Kalkaska       MI  2012   7
18       2018-09-23T13:12:06Z                 Troy       MI  2012   7
19       2018-09-23T22:33:08Z           Cincinnati       OH  2012   7
20       2018-09-23T12:14:03Z              Hanover       MA  2012   7
21       2018-09-23T19:03:31Z                Miami       FL  2012   7
22       2018-09-24T01:33:35Z            Nashville       TN  2012   7
23       2018-09-24T01:59:48Z        Williamsville       NY  2012   7
24       2018-09-23T23:55:13Z          Oregon City       OR  2012   7
25       2018-09-23T21:08:33Z  Washington Township       NJ  2012   7
26       2018-09-24T01:30:51Z            Salisbury       MA  2012   7
27       2018-09-24T01:51:36Z            Baltimore       MD  2012   7
28       2018-09-23T21:11:28Z            Vacaville       CA  2012   7
29       2018-09-23T13:39:56Z              Natchez       MS  2012   7

In [14]:
df_car_age.isnull().sum()

id                   0
vin_ss               0
price_fs             0
miles_fs             0
stock_no_ss          0
year_is              0
make_ss              0
model_ss             0
trim_ss              0
vehicle_type_ss      0
body_type_ss         0
drivetrain_ss        0
engine_ss            0
engine_size_ss       0
transmission_ss      0
doors_is             0
cylinders_is         0
interior_color_ss    0
exterior_color_ss    0
zip_is               0
dom_is               0
dom_180_is           0
msrp_fs              0
dom_active_is        0
is_certified_is      0
fuel_type_ss         0
scraped_at_dts       0
status_date_dts      0
city_ss              0
state_ss             0
YEAR                 0
AGE                  0
dtype: int64

In [15]:
#df_car_age.tail
df_car_age.describe()

,price_fs,miles_fs,year_is,engine_size_ss,doors_is,cylinders_is,dom_is,dom_180_is,msrp_fs,dom_active_is,is_certified_is,YEAR,AGE
count,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06,3.408318e+06
mean,2.173641e+04,5.598797e+04,2.013876e+03,3.225485e+00,3.845389e+00,5.420627e+00,9.240830e+01,6.094673e+01,2.220987e+04,5.285379e+01,1.374933e-01,2.013876e+03,5.124405e+00
std,1.311442e+04,4.011674e+04,3.121920e+00,1.303688e+00,5.341742e-01,1.515440e+00,1.375801e+02,1.087896e+02,1.338459e+04,9.073230e+01,3.443675e-01,3.121920e+00,3.121920e+00
min,1.100000e+03,0.000000e+00,1.990000e+03,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.200000e+03,0.000000e+00,0.000000e+00,1.990000e+03,1.000000e+00
25%,1.400000e+04,2.891400e+04,2.013000e+03,2.400000e+00,4.000000e+00,4.000000e+00,2.300000e+01,1.500000e+01,1.458800e+04,1.300000e+01,0.000000e+00,2.013000e+03,3.000000e+00
50%,1.909100e+04,4.410900e+04,2.015000e+03,3.000000e+00,4.000000e+00,6.000000e+00,5.200000e+01,3.200000e+01,1.979300e+04,2.900000e+01,0.000000e+00,2.015000e+03,4.000000e+00
75%,2.700000e+04,7.438400e+04,2.016000e+03,3.600000e+00,4.000000e+00,6.000000e+00,1.100000e+02,6.600000e+01,2.787500e+04,5.900000e+01,0.000000e+00,2.016000e+03,6.000000e+00
max,9.999170e+05,2.600070e+06,2.018000e+03,8.400000e+00,5.000000e+00,1.500000e+01,2.106000e+03,2.106000e+03,9.999170e+05,2.106000e+03,1.000000e+00,2.018000e+03,2.900000e+01

In [16]:
df_car_age.to_csv('car_age.csv', index=False, header=True)

In [17]:
#Inner Join: Countydemo_zip and Region Datasets
df_county_zip_region = pd.merge(df_countydemo_zip, region, how='inner', left_on='State short', right_on='States Short')
df_county_zip_region.head

<bound method NDFrame.head of          zip      type  decommissioned        primary_city state  \
0        501    UNIQUE               0          Holtsville    NY
1        544    UNIQUE               0          Holtsville    NY
2       6390    PO BOX               0      Fishers Island    NY
3      11701  STANDARD               0          Amityville    NY
4      11702  STANDARD               0             Babylon    NY
5      11703  STANDARD               0       North Babylon    NY
6      11704  STANDARD               0        West Babylon    NY
7      11705  STANDARD               0             Bayport    NY
8      11706  STANDARD               0           Bay Shore    NY
9      11707    PO BOX               0        West Babylon    NY
10     11708  STANDARD               1          Amityville    NY
11     11713  STANDARD               0            Bellport    NY
12     11715  STANDARD               0          Blue Point    NY
13     11716  STANDARD               0             Bohemia    NY
14     11717  STANDARD               0           Brentwood    NY
15     11718  STANDARD               0        Brightwaters    NY
16     11719  STANDARD               0          Brookhaven    NY
17     11720  STANDARD               0          Centereach    NY
18     11721  STANDARD               0          Centerport    NY
19     11722  STANDARD               0       Central Islip    NY
20     11724  STANDARD               0  Cold Spring Harbor    NY
21     11725  STANDARD               0             Commack    NY
22     11726  STANDARD               0            Copiague    NY
23     11727  STANDARD               0               Coram    NY
24     11729  STANDARD               0           Deer Park    NY
25     11730  STANDARD               0          East Islip    NY
26     11731  STANDARD               0      East Northport    NY
27     11733  STANDARD               0       East Setauket    NY
28     11738  STANDARD               0        Farmingville    NY
29     11739    PO BOX               0         Great River    NY
...      ...       ...             ...                 ...   ...
40789  99301  STANDARD               0               Pasco    WA
40790  99302    PO BOX               0               Pasco    WA
40791  99326  STANDARD               0             Connell    WA
40792  99330  STANDARD               0             Eltopia    WA
40793  99335    PO BOX               0            Kahlotus    WA
40794  99343  STANDARD               0                Mesa    WA
40795  99320  STANDARD               0         Benton City    WA
40796  99336  STANDARD               0           Kennewick    WA
40797  99337  STANDARD               0           Kennewick    WA
40798  99338  STANDARD               0           Kennewick    WA
40799  99345    PO BOX               0            Paterson    WA
40800  99346    PO BOX               0            Plymouth    WA
40801  99350  STANDARD               0             Prosser    WA
40802  99352  STANDARD               0            Richland    WA
40803  99353  STANDARD               0       West Richland    WA
40804  99354  STANDARD               0            Richland    WA
40805  99323  STANDARD               0             Burbank    WA
40806  99324  STANDARD               0       College Place    WA
40807  99329  STANDARD               0               Dixie    WA
40808  99348  STANDARD               0            Prescott    WA
40809  99360  STANDARD               0             Touchet    WA
40810  99361  STANDARD               0           Waitsburg    WA
40811  99362  STANDARD               0         Walla Walla    WA
40812  99363    PO BOX               0             Wallula    WA
40813  99328  STANDARD               0              Dayton    WA
40814  99359    PO BOX               0            Starbuck    WA
40815  99347  STANDARD               0             Pomeroy    WA
40816  99401  STANDARD               0             Anatone    WA
40817  99402  STANDARD               0              Asotin    WA
40818  99403  STANDARD               0           Clarkston    WA

                county             timezone  latitude  longitude  \
0              Suffolk     America/New_York     40.81     -73.04
1              Suffolk     America/New_York     40.81     -73.04
2              Suffolk     America/New_York     41.27     -71.99
3              Suffolk     America/New_York     40.66     -73.41
4              Suffolk     America/New_York     40.69     -73.32
5              Suffolk     America/New_York     40.73     -73.32
6              Suffolk     America/New_York     40.71     -73.35
7              Suffolk     America/New_York     40.74     -73.05
8              Suffolk     America/New_York     40.72     -73.25
9              Suffolk     America/New_York     40.71     -73.35
10             Suffolk     America/New_York     40.68     -73.41
11             Suffolk     America/New_York     40.75     -72.94
12             Suffolk     America/New_York     40.75     -73.03
13             Suffolk     America/New_York     40.77     -73.12
14             Suffolk     America/New_York     40.78     -73.24
15             Suffolk     America/New_York     40.71     -73.26
16             Suffolk     America/New_York     40.78     -72.91
17             Suffolk     America/New_York     40.87     -73.08
18             Suffolk     America/New_York     40.90     -73.37
19             Suffolk     America/New_York     40.78     -73.19
20             Suffolk     America/New_York     40.86     -73.44
21             Suffolk     America/New_York     40.84     -73.28
22             Suffolk     America/New_York     40.67     -73.39
23             Suffolk     America/New_York     40.87     -73.00
24             Suffolk     America/New_York     40.76     -73.32
25             Suffolk     America/New_York     40.72     -73.18
26             Suffolk     America/New_York     40.87     -73.32
27             Suffolk     America/New_York     40.93     -73.10
28             Suffolk     America/New_York     40.84     -73.04
29             Suffolk     America/New_York     40.73     -73.16
...                ...                  ...       ...        ...
40789  Franklin County  America/Los_Angeles     46.41    -118.90
40790  Franklin County  America/Los_Angeles     46.25    -119.08
40791  Franklin County  America/Los_Angeles     46.66    -118.90
40792  Franklin County  America/Los_Angeles     46.50    -119.05
40793  Franklin County  America/Los_Angeles     46.66    -118.56
40794  Franklin County  America/Los_Angeles     46.58    -119.15
40795           Benton  America/Los_Angeles     46.24    -119.49
40796           Benton  America/Los_Angeles     46.21    -119.16
40797           Benton  America/Los_Angeles     46.07    -119.08
40798           Benton  America/Los_Angeles     46.16    -119.25
40799           Benton  America/Los_Angeles     45.94    -119.66
40800           Benton  America/Los_Angeles     46.00    -119.30
40801           Benton  America/Los_Angeles     46.12    -119.68
40802           Benton  America/Los_Angeles     46.25    -119.29
40803           Benton  America/Los_Angeles     46.31    -119.37
40804           Benton  America/Los_Angeles     46.35    -119.32
40805      Walla Walla  America/Los_Angeles     46.22    -118.82
40806      Walla Walla  America/Los_Angeles     46.04    -118.40
40807      Walla Walla  America/Los_Angeles     46.16    -118.15
40808      Walla Walla  America/Los_Angeles     46.35    -118.47
40809      Walla Walla  America/Los_Angeles     46.12    -118.64
40810      Walla Walla  America/Los_Angeles     46.22    -118.15
40811      Walla Walla  America/Los_Angeles     46.11    -118.30
40812      Walla Walla  America/Los_Angeles     46.06    -118.89
40813         Columbia  America/Los_Angeles     46.31    -117.90
40814         Columbia  America/Los_Angeles     46.55    -118.19
40815         Garfield  America/Los_Angeles     46.44    -117.54
40816           Asotin  America/Los_Angeles     46.08    -117.27
40817           Asotin  America/Los_Angeles     46.19    -117.13
40818           Asotin  America/Los_Angeles     46.36    -117.22

       irs_estimated_population_2015    ...     State short  \
0                                562    ...              NY
1                                  0    ...              NY
2                                286    ...              NY
3                              25360    ...              NY
4                              13780    ...              NY
5                              16530    ...              NY
6                              37590    ...              NY
7                               7800    ...              NY
8                              61130    ...              NY
9                                134    ...              NY
10                                 0    ...              NY
11                             10260    ...              NY
12                              4440    ...              NY
13                             10000    ...              NY
14                             62310    ...              NY
15                              3360    ...              NY
16                              2850    ...              NY
17                             27560    ...              NY
18                              6310    ...              NY
19                             35510    ...              NY
20                              3400    ...              NY
21                             28920    ...              NY
22                             19870    ...              NY
23                             26240    ...              NY
24                             27300    ...              NY
25                             13780    ...              NY
26                             29720    ...              NY
27                             17080    ...              NY
28                             16060    ...              NY
29                              1506    ...              NY
...                              ...    ...             ...
40789                          79240    ...              WA
40790                           2500    ...              WA
40791                           3660    ...              WA
40792                           1970    ...              WA
40793                            282    ...              WA
40794                           3070    ...              WA
40795                           8800    ...              WA
40796                          46410    ...              WA
40797                          29070    ...              WA
40798                          14690    ...              WA
40799                            357    ...              WA
40800                            380    ...              WA
40801                          12890    ...              WA
40802                          31110    ...              WA
40803                          16030    ...              WA
40804                          20860    ...              WA
40805                           3580    ...              WA
40806                           7600    ...              WA
40807                            300    ...              WA
40808                           1470    ...              WA
40809                           1340    ...              WA
40810                           1560    ...              WA
40811                          35090    ...              WA
40812                            200    ...              WA
40813                           2980    ...              WA
40814                            113    ...              WA
40815                           1930    ...              WA
40816                            220    ...              WA
40817                           1580    ...              WA
40818                          16670    ...              WA

       Per Capita income Median Household income Median Family income  \
0             $36,945.00              $87,763.00          $100,652.00
1             $36,945.00              $87,763.00          $100,652.00
2             $36,945.00              $87,763.00          $100,652.00
3             $36,945.00              $87,763.00          $100,652.00
4             $36,945.00              $87,763.00          $100,652.00
5             $36,945.00              $87,763.00          $100,652.00
6             $36,945.00              $87,763.00          $100,652.00
7             $36,945.00              $87,763.00          $100,652.00
8             $36,945.00              $87,763.00          $100,652.00
9             $36,945.00              $87,763.00          $100,652.00
10            $36,945.00              $87,763.00          $100,652.00
11            $36,945.00              $87,763.00          $100,652.00
12            $36,945.00              $87,763.00          $100,652.00
13            $36,945.00              $87,763.00          $100,652.00
14            $36,945.00              $87,763.00          $100,652.00
15            $36,945.00              $87,763.00          $100,652.00
16            $36,945.00              $87,763.00          $100,652.00
17            $36,945.00              $87,763.00          $100,652.00
18            $36,945.00              $87,763.00          $100,652.00
19            $36,945.00              $87,763.00          $100,652.00
20            $36,945.00              $87,763.00          $100,652.00
21            $36,945.00              $87,763.00          $100,652.00
22            $36,945.00              $87,763.00          $100,652.00
23            $36,945.00              $87,763.00          $100,652.00
24            $36,945.00              $87,763.00          $100,652.00
25            $36,945.00              $87,763.00          $100,652.00
26            $36,945.00              $87,763.00          $100,652.00
27            $36,945.00              $87,763.00          $100,652.00
28            $36,945.00              $87,763.00          $100,652.00
29            $36,945.00              $87,763.00          $100,652.00
...                  ...                     ...                  ...
40789         $19,503.00              $55,177.00           $57,710.00
40790         $19,503.00              $55,177.00           $57,710.00
40791         $19,503.00              $55,177.00           $57,710.00
40792         $19,503.00              $55,177.00           $57,710.00
40793         $19,503.00              $55,177.00           $57,710.00
40794         $19,503.00              $55,177.00           $57,710.00
40795         $28,583.00              $60,485.00           $72,126.00
40796         $28,583.00              $60,485.00           $72,126.00
40797         $28,583.00              $60,485.00           $72,126.00
40798         $28,583.00              $60,485.00           $72,126.00
40799         $28,583.00              $60,485.00           $72,126.00
40800         $28,583.00              $60,485.00           $72,126.00
40801         $28,583.00              $60,485.00           $72,126.00
40802         $28,583.00              $60,485.00           $72,126.00
40803         $28,583.00              $60,485.00           $72,126.00
40804         $28,583.00              $60,485.00           $72,126.00
40805         $23,809.00              $46,597.00           $59,108.00
40806         $23,809.00              $46,597.00           $59,108.00
40807         $23,809.00              $46,597.00           $59,108.00
40808         $23,809.00              $46,597.00           $59,108.00
40809         $23,809.00              $46,597.00           $59,108.00
40810         $23,809.00              $46,597.00           $59,108.00
40811         $23,809.00              $46,597.00           $59,108.00
40812         $23,809.00              $46,597.00           $59,108.00
40813         $23,814.00              $42,519.00           $50,956.00
40814         $23,814.00              $42,519.00           $50,956.00
40815         $26,954.00              $51,548.00           $66,182.00
40816         $24,659.00              $43,175.00           $55,321.00
40817         $24,659.00              $43,175.00           $55,321.00
40818         $24,659.00              $43,175.00           $55,321.00

      Population Number of households  State full  States Short      States  \
0        1495803               497347    New York            NY    New York
1        1495803               497347    New York            NY    New York
2        1495803               497347    New York            NY    New York
3        1495803               497347    New York            NY    New York
4        1495803               497347    New York            NY    New York
5        1495803               497347    New York            NY    New York
6        1495803               497347    New York            NY    New York
7        1495803               497347    New York            NY    New York
8        1495803               497347    New York            NY    New York
9        1495803               497347    New York            NY    New York
10       1495803               497347    New York            NY    New York
11       1495803               497347    New York            NY    New York
12       1495803               497347    New York            NY    New York
13       1495803               497347    New York            NY    New York
14       1495803               497347    New York            NY    New York
15       1495803               497347    New York            NY    New York
16       1495803               497347    New York            NY    New York
17       1495803               497347    New York            NY    New York
18       1495803               497347    New York            NY    New York
19       1495803               497347    New York            NY    New York
20       1495803               497347    New York            NY    New York
21       1495803               497347    New York            NY    New York
22       1495803               497347    New York            NY    New York
23       1495803               497347    New York            NY    New York
24       1495803               497347    New York            NY    New York
25       1495803               497347    New York            NY    New York
26       1495803               497347    New York            NY    New York
27       1495803               497347    New York            NY    New York
28       1495803               497347    New York            NY    New York
29       1495803               497347    New York            NY    New York
...          ...                  ...         ...           ...         ...
40789      81835                23445  Washington            WA  Washington
40790      81835                23445  Washington            WA  Washington
40791      81835                23445  Washington            WA  Washington
40792      81835                23445  Washington            WA  Washington
40793      81835                23445  Washington            WA  Washington
40794      81835                23445  Washington            WA  Washington
40795     178992                65675  Washington            WA  Washington
40796     178992                65675  Washington            WA  Washington
40797     178992                65675  Washington            WA  Washington
40798     178992                65675  Washington            WA  Washington
40799     178992                65675  Washington            WA  Washington
40800     178992                65675  Washington            WA  Washington
40801     178992                65675  Washington            WA  Washington
40802     178992                65675  Washington            WA  Washington
40803     178992                65675  Washington            WA  Washington
40804     178992                65675  Washington            WA  Washington
40805      59092                21677  Washington            WA  Washington
40806      59092                21677  Washington            WA  Washington

In [19]:
#Checking merge of previous cell
df_county_zip_region.describe()
#df_county_zip_region.isnull().sum()

,zip,decommissioned,latitude,longitude,irs_estimated_population_2015,Rank,Population,Number of households
count,40819.000000,40819.000000,40819.000000,40819.000000,40819.000000,40819.000000,4.081900e+04,4.081900e+04
mean,49505.066268,0.013229,38.493103,-90.612872,6979.961807,1203.628090,5.301329e+05,1.894891e+05
std,27539.544520,0.114256,4.813426,14.003277,12058.691471,887.184246,1.307983e+06,4.396653e+05
min,501.000000,0.000000,24.550000,-124.630000,0.000000,1.000000,8.700000e+01,3.300000e+01
25%,26664.500000,0.000000,35.030000,-97.130000,350.000000,435.000000,2.937600e+04,1.143500e+04
50%,48843.000000,0.000000,39.150000,-87.910000,1379.000000,1039.000000,1.006360e+05,3.865400e+04
75%,72667.000000,0.000000,41.850000,-80.180000,7530.000000,1896.000000,4.738320e+05,1.796170e+05
max,99403.000000,1.000000,49.310000,-67.010000,114420.000000,3142.000000,9.893481e+06,3.230383e+06

In [20]:
df_county_zip_region.to_csv('county_zip_region.csv', index=False, header=True)

In [23]:
#Changing type in 'zip' column (type)
#df_car_age['zip_is'] = df_car_age['zip_is'].astype()
df_county_zip_region['zip'] = df_county_zip_region['zip'].astype(str)

ValueError: invalid literal for int() with base 10: 'Irvin'

In [22]:
#Inner Join: Final
df = pd.merge(df_car_age, df_county_zip_region, how='inner', left_on='zip_is', right_on='zip')
df.head

<bound method NDFrame.head of                                            id             vin_ss  price_fs  \
0        026454b9-8f7f-4200-8a22-15505442b297  1GNKVLED4CJ261435     16342
1        03decb32-0fac-45be-b5cb-abfffbbd25e8  JM3TB2CA1C0346156     12500
2        07eaaaba-df00-4440-ad09-438a6ad2ec00  JTHBE5C20C5030562     21990
3        09c33c55-0d16-483c-a86f-392cc48cac3e  2C3CCAAGXCH312420     11988
4        09dafb80-659c-41f7-92a1-4933e7dcbb2c  4T4BF1FK3CR169613     13990
5        09e6b3ab-d4aa-43a3-92db-8d18d37eac5c  JTEZU5JR9C5043244     21994
6        0a0b266c-eaca-437c-b097-cb8111c4c264  WBAKE5C57CJ106116     13495
7        0ae369d9-a1b8-4cdb-9bf6-fef756353a3b  1G4GD5E39CF245251     12000
8        0bb7c6b1-d9cd-4bd2-8ed5-3c61e4906246  1G1YV2DW7C5106668     38987
9        10ef4184-ef78-4f1d-a16d-7f415532e6da  1GCHSDFEXC8143776     13866
10       12db5fba-7543-491d-b651-b7acc129ee68  1C4PJMAK3CW120072     11325
11       1611edf4-5071-4bea-97d2-5822f68e4f95  3GYFNAE3XCS582376     17500
12       179dcb75-4ef9-42bd-997f-d346237df0d3  2HGFG3B16CH536515     11398
13       17ea9170-acd0-49a5-82a7-5ee5e4077873  SCFEKBEL4CGD16094     68498
14       18d1f72c-1400-4576-9d5d-47f43abebcc6  WBAUP7C59CVP22505     10990
15       18fe647e-0bcb-4b63-a43d-5f54cce7d161  2GKFLREK9C6216316     12999
16       197348da-0670-405a-9e07-80e9ba4aad36  JTHCL5EF5C5012844     22928
17       19bad81b-ce12-4641-8561-e75dca62e4e4  1C3CDZAB2CN212464      7435
18       1a0196ff-e80a-4dc4-93f2-90a01cfa35ca  4S3BMBC68C3028902     12987
19       1a45f0f7-1ab0-49ae-8b29-944b22419a3a  JA4AR4AU7CZ005497      9774
20       1a7e7662-a1b4-427d-81ba-fe78bfc4db21  1G1PD5SH9C7321171      8875
21       1b9f6cd9-0826-4ae6-b925-25ae9ef10010  5J6RM3H76CL040904     18152
22       1c743df4-513b-4d6f-81f4-4c58d7bc24ed  JTHCF5C23C5060057     15995
23       20e5d1db-4a8f-41bb-b4eb-7babe7f5f691  1C4BJWEG1CL274048     25160
24       213796e9-c34a-498d-bc3b-c39476a16aeb  2T3KF4DV1CW111631      9974
25       213fafa0-0725-4a12-9a35-249345a997df  JTHCL5EF9C5012605     26776
26       243a88e9-3372-428b-99fc-fe653769680f  1GNSCBE09CR166738     19457
27       2460f674-0310-4e02-aec9-4bab35ae892d  5FNYF4H52CB004128     18981
28       2643ec48-d7b2-42d5-b3e6-4379748981c7  5J6RM3H72CL009424     16986
29       28461565-099a-4720-8bb5-b0742b9d46aa  1HGCP3F87CA006708     13039
...                                       ...                ...       ...
1704669  0852c49a-01df-45f2-9df5-e8b465898e0b  1FMJK1JT8JEA30408     52883
1704670  126abb06-5a8a-491a-9d88-c49f0b5dfcd7  1FTEX1EP7JFA35596     33488
1704671  09683c6c-7982-485d-9a65-4928e659fc5b  ZFFYT53A440136036    109995
1704672  4909be28-a77d-4eca-a974-517423e2c19a  1J4GW48SX4C182573      5900
1704673  4e79038d-2f79-4afd-81ef-f5fef559a5e0  5N1AA08A54N737116      5900
1704674  6a120680-5cd8-481f-aaee-b227effcfcdc  1MEHM55S34G603518      9900
1704675  0617996b-33d6-4c4c-ba57-bc82bf4f0be0  1G1YY22P3S5112047      8900
1704676  88ab494b-ed4a-4466-a69f-3115b1bf5614  1G1YY32P3T5119426     12500
1704677  9d66d789-4f6b-461c-b2c4-de65968ecd72  WVGEM67L54D021403      7995
1704678  bfda5b4e-c021-4325-aaad-76e08153b772  1GYEK13R9XR415124      5495
1704679  a849f96c-0a04-4395-95f8-f45389d74fc5  1G6KY5295RU822540      3999
1704680  c6e75923-c064-4f82-8df5-6e6224c0962c  WDBUF70J44A588212      7995
1704681  e07b7b63-bf02-479f-b35f-c47f7779ca65  ZFFYT53A810125844     84995
1704682  dc208c2d-3400-4a89-bfa7-91600f5df935  19UUA66264A029532      3995
1704683  dcce8a8b-02cb-4fe4-a4a7-3d4fe93e1908  2FTRF17234CA75132      4500
1704684  12bdcbe9-960c-4e5a-9b4a-5132116e7214  2CNBJ1867S6906561      5450
1704685  26df5f5e-2fdb-4c8a-9213-118c0741e1fa  JM1NA3538S0619939      3000
1704686  62eea3ca-3227-45ed-bae8-13dd919e2888  JNRDR09Y51W225576      5999
1704687  257c0609-caba-4992-8394-f4179f039f56  SALHV1245LA433962      5999
1704688  88a0eb75-d9e3-4952-8b79-0e48ffae8dda  1J4FY29P5VP411465     22995
1704689  b83d1eed-de93-4797-99a2-3fdd034950dd  JT4TN12D4V0037015      6900
1704690  cb1d2b49-58be-4cf6-92f1-843ca02dcfb7  SALDV2245VA118067     79995
1704691  68335769-7c45-4712-94ee-64ad9bafbcd7  WP0CA2998TS340500     45900
1704692  81e345ef-e4a5-4c1a-8de1-b73f47d8dc8c  WP0CB2968LS470621     48000
1704693  090648af-438a-4531-95d0-f817c1f6c98c  1G4HP52K5WH533414      2900
1704694  7e66f7b4-5f9c-42b9-bb7a-9d2ebc200659  WDBJH82F9XX017845      3500
1704695  caa4a457-825f-4d78-bffa-2978f1c69838  2GCEK19K1R1239763      7500
1704696  64d3a4cf-a209-4ce8-903a-4a2abd78c4bc  WBAEG1315NCB42717     28000
1704697  af216182-11f3-4af0-bc46-d186ceec168d  1G1YZ23J3L5802423     27500
1704698  7ed81b62-f3ae-422c-a148-b0dc5e9f28c5  1GNGC26K1PJ334642      3950

         miles_fs  stock_no_ss  year_is        make_ss         model_ss  \
0           71233      P261435     2012      Chevrolet         Traverse
1          100215     DT11444A     2012          Mazda             CX-9
2           44637      180770A     2012          Lexus           IS 350
3           94012       P10436     2012       Chrysler              300
4           86122       762911     2012         Toyota            Camry
5           71624      3P1553A     2012         Toyota          4Runner
6           73000     XHC8610B     2012            BMW         3 Series
7           83443      B18262A     2012          Buick         LaCrosse
8           22000     C5106668     2012      Chevrolet         Corvette
9          122336     F111324B     2012      Chevrolet         Colorado
10          84809       XP5082     2012           Jeep          Liberty
11          88721     BS582376     2012       Cadillac              SRX
12          63527     H405905A     2012          Honda            Civic
13          16048       17491W     2012   Aston Martin       V8 Vantage
14         123602      171761A     2012            BMW         1 Series
15          75067      J26421A     2012            GMC          Terrain
16         100075      RX5138A     2012          Lexus           LS 460
17         111423     N1879831     2012          Dodge          Avenger
18          53200        5568P     2012         Subaru           Legacy
19          76260      181638C     2012     Mitsubishi  Outlander Sport
20          99898        P9771     2012      Chevrolet            Cruze
21          46583       36260A     2012          Honda             CR-V
22          52749       NH9001     2012          Lexus           IS 250
23          88536       16386J     2012           Jeep         Wrangler
24         131634       51814A     2012         Toyota             RAV4
25          71525         4426     2012          Lexus           LS 460
26          99001     S181091A     2012      Chevrolet            Tahoe
27          78477     H181713B     2012          Honda            Pilot
28          82992        5633A     2012          Honda             CR-V
29          90139     A059610Q     2012          Honda           Accord
...           ...          ...      ...            ...              ...
1704669        10        4646S     2018           Ford       Expedition
1704670      2553         5350     2018           Ford            F-150
1704671      4727  NO: 181023A     2004        Ferrari              360
1704672    141296        10081     2004           Jeep   Grand Cherokee
1704673    187206        10009     2004         Nissan           Armada
1704674     19740          204     2004        Mercury            Sable
1704675     72968      U112047     1995      Chevrolet         Corvette
1704676     64313      U119426     1996      Chevrolet         Corvette
1704677    112100         2003     2004     Volkswagen          Touareg
1704678    184430         2160     1999       Cadillac         Escalade
1704679    178000     1927R1A1     1994       Cadillac          Seville
1704680     65048         1038     2004  Mercedes-Benz          E-Class
1704681     12980         1039     2001        Ferrari              360
1704682    198241          063     2004          Acura               TL
1704683    160883        10046     2004           Ford   F-150 Heritage
1704684    107000           85     1995            Geo          Tracker
1704685    185452          170     1995          Mazda       MX-5 Miata
1704686    163187        10001     2001       INFINITI              QX4
1704687    138017        10008     1990     Land Rover      Range Rover
1704688    111431    97-411465     1997           Jeep         Wrangler
1704689    181881        P2387     1997         Toyota             T100
1704690     84113        P6738     1997     Land Rover      Defender 90
1704691     44504        18-41     1996        Porsche              911
1704692     64528        17-51     1990        Porsche              911
1704693    140693        18026     1998          Buick          LeSabre
1704694    168455       867-01     1999  Mercedes-Benz          E-Class
1704695    158909       239763     1994      Chevrolet         C/K 1500
1704696     91956         3962     1992            BMW         8 Series
1704697     31241         2423     1990      Chevrolet         Corvette
1704698    211461       10896U     1993      Chevrolet         Suburban

                          trim_ss vehicle_type_ss    ...     State short  \
0                             LTZ             SUV    ...              MO
1                         Touring             SUV    ...              MO
2                            Base             Car    ...              MO
3                            Base             Car    ...              MO
4                               L             Car    ...              MO
5                             SR5             SUV    ...              MO
6                            328i             Car    ...              MO
7                 Premium I Group             Car    ...              MO
8                              GS             Car    ...              MO
9                             2LT           Truck    ...              MO
10                          Sport             SUV    ...              MO
11                         Luxury             SUV    ...              MO
12                           EX-L             Car    ...              MO
13                     S Roadster             Car    ...              MO
14                           128i             Car    ...              MO
15                          SLE-1             SUV    ...              MO
16                           Base             Car    ...              MO
17                             SE             Car    ...              MO
18              2.5i Premium PZEV             Car    ...              MO
19                             SE             SUV    ...              MO
20                             LS             Car    ...              MO
21                           EX-L             SUV    ...              MO
22                           Base             Car    ...              MO
23               Unlimited Sahara             SUV    ...              MO
24                           Base             SUV    ...              MO
25                           Base             Car    ...              MO
26                             LT             SUV    ...              MO
27                           EX-L             SUV    ...              MO
28                           EX-L             SUV    ...              MO
29                       EX-L V-6             Car    ...              MO
...                           ...             ...    ...             ...
1704669                   MAX XLT             SUV    ...              IA
1704670                       XLT           Truck    ...              IL
1704671                    Spider             Car    ...              TX
1704672                    Laredo             SUV    ...              CO
1704673                        LE             SUV    ...              TX
1704674                LS Premium             Car    ...              OH
1704675                     Coupe             Car    ...              OH
1704676                      Base             Car    ...              OH
1704677                        V8             SUV    ...              NV
1704678                       4WD             SUV    ...              NV
1704679                       STS             Car    ...              NV
1704680                      E500             Car    ...              CA
1704681                    Spider             Car    ...              CA
1704682                       3.2             Car    ...              WI
1704683                        XL           Truck    ...              AR
1704684           Convertible 4WD             SUV    ...              MS
1704685                 M Edition             Car    ...              FL
1704686                      Base             SUV    ...              KS
1704687                      Base             SUV    ...              KS
1704688                        SE             SUV    ...              MA
1704689                        DX           Truck    ...              CO
1704690                      Base             SUV    ...              MN
1704691         Carrera Cabriolet             Car    ...              GA
1704692       Carrera 2 Cabriolet             Car    ...              GA
1704693                    Custom             Car    ...              IN
1704694               E320 4MATIC             Car    ...              NY
1704695  Ext. Cab 6.5-ft. Bed 4WD           Truck    ...              WI
1704696                      850i             Car    ...              NJ
1704697                       ZR1             Car    ...              TX
1704698                      2500             SUV    ...              TX

        Per Capita income Median Household income  Median Family income  \
0              $35,143.00              $67,721.00            $83,110.00
1              $35,143.00              $67,721.00            $83,110.00
2              $35,143.00              $67,721.00            $83,110.00
3              $35,143.00              $67,721.00            $83,110.00
4              $35,143.00              $67,721.00            $83,110.00
5              $35,143.00              $67,721.00            $83,110.00
6              $35,143.00              $67,721.00            $83,110.00
7              $35,143.00              $67,721.00            $83,110.00
8              $35,143.00              $67,721.00            $83,110.00
9              $35,143.00              $67,721.00            $83,110.00
10             $35,143.00              $67,721.00            $83,110.00
11             $35,143.00              $67,721.00            $83,110.00
12             $35,143.00              $67,721.00            $83,110.00
13             $35,143.00              $67,721.00            $83,110.00
14             $35,143.00              $67,721.00            $83,110.00
15             $35,143.00              $67,721.00            $83,110.00
16             $35,143.00              $67,721.00            $83,110.00
17             $35,143.00              $67,721.00            $83,110.00
18             $35,143.00              $67,721.00            $83,110.00
19             $35,143.00              $67,721.00            $83,110.00
20             $35,143.00              $67,721.00            $83,110.00
21             $35,143.00              $67,721.00            $83,110.00
22             $35,143.00              $67,721.00            $83,110.00
23             $35,143.00              $67,721.00            $83,110.00
24             $35,143.00              $67,721.00            $83,110.00
25             $35,143.00              $67,721.00            $83,110.00
26             $35,143.00              $67,721.00            $83,110.00
27             $35,143.00              $67,721.00            $83,110.00
28             $35,143.00              $67,721.00            $83,110.00
29             $35,143.00              $67,721.00            $83,110.00
...                   ...                     ...                   ...
1704669        $25,430.00              $48,361.00            $64,495.00
1704670        $26,234.00              $50,578.00            $63,373.00
1704671        $32,911.00              $67,766.00            $79,541.00
1704672        $29,793.00              $48,933.00            $58,222.00
1704673        $26,816.00              $49,481.00            $55,113.00
1704674        $28,283.00              $50,877.00            $64,693.00
1704675        $28,283.00              $50,877.00            $64,693.00
1704676        $28,283.00              $50,877.00            $64,693.00
1704677        $28,670.00              $53,040.00            $64,556.00
1704678        $28,670.00              $53,040.00            $64,556.00
1704679        $28,670.00              $53,040.00            $64,556.00
1704680        $27,749.00              $55,909.00            $62,237.00
1704681        $27,749.00              $55,909.00            $62,237.00
1704682        $24,295.00              $43,193.00            $55,164.00
1704683        $20,636.00              $41,319.00            $51,790.00
1704684        $16,589.00              $32,503.00            $42,093.00
1704685        $23,441.00              $43,918.00            $55,382.00
1704686        $25,603.00              $49,865.00            $63,042.00
1704687        $25,603.00              $49,865.00            $63,042.00
1704688        $42,861.00              $82,090.00           $104,032.00
1704689        $28,867.00              $57,125.00            $70,728.00
1704690        $37,485.00              $64,403.00            $84,559.00
1704691        $23,645.00              $50,853.00            $58,295.00
1704692        $23,645.00              $50,853.00            $58,295.00
1704693        $21,527.00              $43,120.00            $54,074.00
1704694        $26,495.00              $57,001.00            $64,371.00
1704695        $25,625.00              $53,454.00            $67,058.00
1704696        $47,803.00              $99,020.00           $117,393.00
1704697        $27,899.00              $53,137.00            $60,594.00
1704698        $20,181.00              $34,131.00            $40,917.00

        Population  Number of households     State full States Short  \
0            90842                 36781       Missouri           MO
1            90842                 36781       Missouri           MO
2            90842                 36781       Missouri           MO
3            90842                 36781       Missouri           MO
4            90842                 36781       Missouri           MO
5            90842                 36781       Missouri           MO
6            90842                 36781       Missouri           MO
7            90842                 36781       Missouri           MO
8            90842                 36781       Missouri           MO
9            90842                 36781       Missouri           MO
10           90842                 36781       Missouri           MO
11           90842                 36781       Missouri           MO
12           90842                 36781       Missouri           MO
13           90842                 36781       Missouri           MO
14           90842                 36781       Missouri           MO
15           90842                 36781       Missouri           MO
16           90842                 36781       Missouri           MO
17           90842                 36781       Missouri           MO
18           90842                 36781       Missouri           MO
19           90842                 36781       Missouri           MO
20           90842                 36781       Missouri           MO
21           90842                 36781       Missouri           MO
22           90842                 36781       Missouri           MO
23           90842                 36781       Missouri           MO
24           90842                 36781       Missouri           MO

In [24]:
df.isnull().sum()

id                               0
vin_ss                           0
price_fs                         0
miles_fs                         0
stock_no_ss                      0
year_is                          0
make_ss                          0
model_ss                         0
trim_ss                          0
vehicle_type_ss                  0
body_type_ss                     0
drivetrain_ss                    0
engine_ss                        0
engine_size_ss                   0
transmission_ss                  0
doors_is                         0
cylinders_is                     0
interior_color_ss                0
exterior_color_ss                0
zip_is                           0
dom_is                           0
dom_180_is                       0
msrp_fs                          0
dom_active_is                    0
is_certified_is                  0
fuel_type_ss                     0
scraped_at_dts                   0
status_date_dts                  0
city_ss                          0
state_ss                         0
YEAR                             0
AGE                              0
zip                              0
type                             0
decommissioned                   0
primary_city                     0
state                            0
county                           0
timezone                         0
latitude                         0
longitude                        0
irs_estimated_population_2015    0
county full                      0
Rank                             0
County                           0
State short                      0
Per Capita income                0
Median Household income          0
Median Family income             0
Population                       0
Number of households             0
State full                       0
States Short                     0
States                           0
Regions                          0
dtype: int64

In [25]:
df.describe()

,price_fs,miles_fs,year_is,engine_size_ss,doors_is,cylinders_is,dom_is,dom_180_is,msrp_fs,dom_active_is,is_certified_is,YEAR,AGE,decommissioned,latitude,longitude,irs_estimated_population_2015,Rank,Population,Number of households
count,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06
mean,2.170938e+04,5.653791e+04,2.013856e+03,3.244565e+00,3.842812e+00,5.440498e+00,9.316388e+01,6.122798e+01,2.214444e+04,5.302384e+01,1.336465e-01,2.013856e+03,5.144461e+00,2.581101e-05,3.712305e+01,-8.889699e+01,3.056610e+04,7.615498e+02,8.075424e+05,2.918752e+05
std,1.310995e+04,4.049951e+04,3.148293e+00,1.313633e+00,5.382287e-01,1.522582e+00,1.381696e+02,1.092070e+02,1.334864e+04,9.109365e+01,3.402722e-01,3.148293e+00,3.148293e+00,5.080389e-03,4.757458e+00,1.301631e+01,1.611840e+04,6.826954e+02,1.314076e+06,4.440800e+05
min,1.100000e+03,0.000000e+00,1.990000e+03,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.250000e+03,0.000000e+00,0.000000e+00,1.990000e+03,1.000000e+00,0.000000e+00,2.455000e+01,-1.242400e+02,0.000000e+00,1.000000e+00,1.387000e+03,5.490000e+02
25%,1.399900e+04,2.907500e+04,2.013000e+03,2.400000e+00,4.000000e+00,4.000000e+00,2.300000e+01,1.500000e+01,1.450000e+04,1.300000e+01,0.000000e+00,2.013000e+03,3.000000e+00,0.000000e+00,3.400000e+01,-9.464000e+01,1.863000e+04,2.050000e+02,1.603450e+05,6.013900e+04
50%,1.900000e+04,4.450800e+04,2.015000e+03,3.000000e+00,4.000000e+00,6.000000e+00,5.200000e+01,3.200000e+01,1.970700e+04,2.900000e+01,0.000000e+00,2.015000e+03,4.000000e+00,0.000000e+00,3.714000e+01,-8.429000e+01,2.886000e+04,5.320000e+02,4.166680e+05,1.537200e+05
75%,2.700000e+04,7.517300e+04,2.016000e+03,3.600000e+00,4.000000e+00,6.000000e+00,1.110000e+02,6.600000e+01,2.779100e+04,5.900000e+01,0.000000e+00,2.016000e+03,6.000000e+00,0.000000e+00,4.065000e+01,-8.009000e+01,4.066000e+04,1.101000e+03,9.292140e+05,3.605630e+05
max,9.999170e+05,2.200000e+06,2.018000e+03,8.400000e+00,5.000000e+00,1.500000e+01,2.106000e+03,2.106000e+03,9.999170e+05,2.106000e+03,1.000000e+00,2.018000e+03,2.900000e+01,1.000000e+00,4.895000e+01,-6.971000e+01,1.114300e+05,3.139000e+03,9.893481e+06,3.230383e+06

In [29]:
#Save
df.to_csv('car_data_clean_complete_v3.csv', index=False, header=True)

In [27]:
df.drop_duplicates(subset=None, keep='first', inplace=False)
df.describe()

,id,vin_ss,price_fs,miles_fs,stock_no_ss,year_is,make_ss,model_ss,trim_ss,vehicle_type_ss,...,State short,Per Capita income,Median Household income,Median Family income,Population,Number of households,State full,States Short,States,Regions
0,026454b9-8f7f-4200-8a22-15505442b297,1GNKVLED4CJ261435,16342,71233,P261435,2012,Chevrolet,Traverse,LTZ,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
1,03decb32-0fac-45be-b5cb-abfffbbd25e8,JM3TB2CA1C0346156,12500,100215,DT11444A,2012,Mazda,CX-9,Touring,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
2,07eaaaba-df00-4440-ad09-438a6ad2ec00,JTHBE5C20C5030562,21990,44637,180770A,2012,Lexus,IS 350,Base,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
3,09c33c55-0d16-483c-a86f-392cc48cac3e,2C3CCAAGXCH312420,11988,94012,P10436,2012,Chrysler,300,Base,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
4,09dafb80-659c-41f7-92a1-4933e7dcbb2c,4T4BF1FK3CR169613,13990,86122,762911,2012,Toyota,Camry,L,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
5,09e6b3ab-d4aa-43a3-92db-8d18d37eac5c,JTEZU5JR9C5043244,21994,71624,3P1553A,2012,Toyota,4Runner,SR5,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
6,0a0b266c-eaca-437c-b097-cb8111c4c264,WBAKE5C57CJ106116,13495,73000,XHC8610B,2012,BMW,3 Series,328i,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
7,0ae369d9-a1b8-4cdb-9bf6-fef756353a3b,1G4GD5E39CF245251,12000,83443,B18262A,2012,Buick,LaCrosse,Premium I Group,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
8,0bb7c6b1-d9cd-4bd2-8ed5-3c61e4906246,1G1YV2DW7C5106668,38987,22000,C5106668,2012,Chevrolet,Corvette,GS,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
9,10ef4184-ef78-4f1d-a16d-7f415532e6da,1GCHSDFEXC8143776,13866,122336,F111324B,2012,Chevrolet,Colorado,2LT,Truck,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
10,12db5fba-7543-491d-b651-b7acc129ee68,1C4PJMAK3CW120072,11325,84809,XP5082,2012,Jeep,Liberty,Sport,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
11,1611edf4-5071-4bea-97d2-5822f68e4f95,3GYFNAE3XCS582376,17500,88721,BS582376,2012,Cadillac,SRX,Luxury,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
12,179dcb75-4ef9-42bd-997f-d346237df0d3,2HGFG3B16CH536515,11398,63527,H405905A,2012,Honda,Civic,EX-L,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
13,17ea9170-acd0-49a5-82a7-5ee5e4077873,SCFEKBEL4CGD16094,68498,16048,17491W,2012,Aston Martin,V8 Vantage,S Roadster,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
14,18d1f72c-1400-4576-9d5d-47f43abebcc6,WBAUP7C59CVP22505,10990,123602,171761A,2012,BMW,1 Series,128i,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
15,18fe647e-0bcb-4b63-a43d-5f54cce7d161,2GKFLREK9C6216316,12999,75067,J26421A,2012,GMC,Terrain,SLE-1,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
16,197348da-0670-405a-9e07-80e9ba4aad36,JTHCL5EF5C5012844,22928,100075,RX5138A,2012,Lexus,LS 460,Base,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
17,19bad81b-ce12-4641-8561-e75dca62e4e4,1C3CDZAB2CN212464,7435,111423,N1879831,2012,Dodge,Avenger,SE,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
18,1a0196ff-e80a-4dc4-93f2-90a01cfa35ca,4S3BMBC68C3028902,12987,53200,5568P,2012,Subaru,Legacy,2.5i Premium PZEV,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
19,1a45f0f7-1ab0-49ae-8b29-944b22419a3a,JA4AR4AU7CZ005497,9774,76260,181638C,2012,Mitsubishi,Outlander Sport,SE,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
20,1a7e7662-a1b4-427d-81ba-fe78bfc4db21,1G1PD5SH9C7321171,8875,99898,P9771,2012,Chevrolet,Cruze,LS,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
21,1b9f6cd9-0826-4ae6-b925-25ae9ef10010,5J6RM3H76CL040904,18152,46583,36260A,2012,Honda,CR-V,EX-L,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
22,1c743df4-513b-4d6f-81f4-4c58d7bc24ed,JTHCF5C23C5060057,15995,52749,NH9001,2012,Lexus,IS 250,Base,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
23,20e5d1db-4a8f-41bb-b4eb-7babe7f5f691,1C4BJWEG1CL274048,25160,88536,16386J,2012,Jeep,Wrangler,Unlimited Sahara,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
24,213796e9-c34a-498d-bc3b-c39476a16aeb,2T3KF4DV1CW111631,9974,131634,51814A,2012,Toyota,RAV4,Base,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
25,213fafa0-0725-4a12-9a35-249345a997df,JTHCL5EF9C5012605,26776,71525,4426,2012,Lexus,LS 460,Base,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
26,243a88e9-3372-428b-99fc-fe653769680f,1GNSCBE09CR166738,19457,99001,S181091A,2012,Chevrolet,Tahoe,LT,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
27,2460f674-0310-4e02-aec9-4bab35ae892d,5FNYF4H52CB004128,18981,78477,H181713B,2012,Honda,Pilot,EX-L,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
28,2643ec48-d7b2-42d5-b3e6-4379748981c7,5J6RM3H72CL009424,16986,82992,5633A,2012,Honda,CR-V,EX-L,SUV,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
29,28461565-099a-4720-8bb5-b0742b9d46aa,1HGCP3F87CA006708,13039,90139,A059610Q,2012,Honda,Accord,EX-L V-6,Car,...,MO,"$35,143.00","$67,721.00","$83,110.00",90842,36781,Missouri,MO,Missouri,MidWest
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1704669,0852c49a-01df-45f2-9df5-e8b465898e0b,1FMJK1JT8JEA30408,52883,10,4646S,2018,Ford,Expedition,MAX XLT,SUV,...,IA,"$25,430.00","$48,361.00","$64,495.00",20732,8626,Iowa,IA,Iowa,MidWest
1704670,126abb06-5a8a-491a-9d88-c49f0b5dfcd7,1FTEX1EP7JFA35596,33488,2553,5350,2018,Ford,F-150,XLT,Truck,...,IL,"$26,234.00","$50,578.00","$63,373.00",268939,102885,Illinois,IL,Illinois,MidWest
1704671,09683c6c-7982-485d-9a65-4928e659fc5b,ZFFYT53A440136036,109995,4727,NO: 181023A,2004,Ferrari,360,Spider,Car,...,TX,"$32,911.00","$67,766.00","$79,541.00",472162,163462,Texas,TX,Texas,South
1704672,4909be28-a77d-4eca-a974-517423e2c19a,1J4GW48SX4C182573,5900,141296,10081,2004,Jeep,Grand Cherokee,Laredo,SUV,...,CO,"$29,793.00","$48,933.00","$58,222.00",12109,4881,Colorado,CO,Colorado,West
1704673,4e79038d-2f79-4afd-81ef-f5fef559a5e0,5N1AA08A54N737116,5900,187206,10009,2004,Nissan,Armada,LE,SUV,...,TX,"$26,816.00","$49,481.00","$55,113.00",2412481,858332,Texas,TX,Texas,South
1704674,6a120680-5cd8-481f-aaee-b227effcfcdc,1MEHM55S34G603518,9900,19740,204,2004,Mercury,Sable,LS Premium,Car,...,OH,"$28,283.00","$50,877.00","$64,693.00",1181824,468295,Ohio,OH,Ohio,MidWest
1704675,0617996b-33d6-4c4c-ba57-bc82bf4f0be0,1G1YY22P3S5112047,8900,72968,U112047,1995,Chevrolet,Corvette,Coupe,Car,...,OH,"$28,283.00","$50,877.00","$64,693.00",1181824,468295,Ohio,OH,Ohio,MidWest
1704676,88ab494b-ed4a-4466-a69f-3115b1bf5614,1G1YY32P3T5119426,12500,64313,U119426,1996,Chevrolet,Corvette,Base,Car,...,OH,"$28,283.00","$50,877.00","$64,693.00",1181824,468295,Ohio,OH,Ohio,MidWest
1704677,9d66d789-4f6b-461c-b2c4-de65968ecd72,WVGEM67L54D021403,7995,112100,2003,2004,Volkswagen,Touareg,V8,SUV,...,NV,"$28,670.00","$53,040.00","$64,556.00",425495,163198,Nevada,NV,Nevada,West
1704678,bfda5b4e-c021-4325-aaad-76e08153b772,1GYEK13R9XR415124,5495,184430,2160,1999,Cadillac,Escalade,4WD,SUV,...,NV,"$28,670.00","$53,040.00","$64,556.00",425495,163198,Nevada,NV,Nevada,West
1704679,a849f96c-0a04-4395-95f8-f45389d74fc5,1G6KY5295RU822540,3999,178000,1927R1A1,1994,Cadillac,Seville,STS,Car,...,NV,"$28,670.00","$53,040.00","$64,556.00",425495,163198,Nevada,NV,Nevada,West
1704680,c6e75923-c064-4f82-8df5-6e6224c0962c,WDBUF70J44A588212,7995,65048,1038,2004,Mercedes-Benz,E-Class,E500,Car,...,CA,"$27,749.00","$55,909.00","$62,237.00",9893481,3230383,California,CA,California,West
1704681,e07b7b63-bf02-479f-b35f-c47f7779ca65,ZFFYT53A810125844,84995,12980,1039,2001,Ferrari,360,Spider,Car,...,CA,"$27,749.00","$55,909.00","$62,237.00",9893481,3230383,California,CA,California,West
1704682,dc208c2d-3400-4a89-bfa7-91600f5df935,19UUA66264A029532,3995,198241,063,2004,Acura,TL,3.2,Car,...,WI,"$24,295.00","$43,193.00","$55,164.00",950527,379637,Wisconsin,WI,Wisconsin,MidWest
1704683,dcce8a8b-02cb-4fe4-a4a7-3d4fe93e1908,2FTRF17234CA75132,4500,160883,10046,2004,Ford,F-150 Heritage,XL,Truck,...,AR,"$20,636.00","$41,319.00","$51,790.00",43515,16950,Arkansas,AR,Arkansas,South
1704684,12bdcbe9-960c-4e5a-9b4a-5132116e7214,2CNBJ1867S6906561,5450,107000,85,1995,Geo,Tracker,Convertible 4WD,SUV,...,MS,"$16,589.00","$32,503.00","$42,093.00",25354,9611,Mississippi,MS,Mississippi,South
1704685,26df5f5e-2fdb-4c8a-9213-118c0741e1fa,JM1NA3538S0619939,3000,185452,170,1995,Mazda,MX-5 Miata,M Edition,Car,...,FL,"$23,441.00","$43,918.00","$55,382.00",300795,111689,Florida,FL,Florida,South
1704686,62eea3ca-3227-45ed-bae8-13dd919e2888,JNRDR09Y51W225576,5999,163187,10001,2001,INFINITI,QX4,Base,SUV,...,KS,"$25,603.00","$49,865.00","$63,042.00",500768,192651,Kansas,KS,Kansas,MidWest
1704687,257c0609-caba-4992-8394-f4179f039f56,SALHV1245LA433962,5999,138017,10008,1990,Land Rover,Range Rover,Base,SUV,...,KS,"$25,603.00","$49,865.00","$63,042.00",500768,192651,Kansas,KS,Kansas,MidWest
1704688,88a0eb75-d9e3-4952-8b79-0e48ffae8dda,1J4FY29P5VP411465,22995,111431,97-411465,1997,Jeep,Wrangler,SE,SUV,...,MA,"$42,861.00","$82,090.00","$104,032.00",1522533,581120,Massachusetts,MA,Massachusetts,NorthEast
1704689,b83d1eed-de93-4797-99a2-3fdd034950dd,JT4TN12D4V0037015,6900,181881,P2387,1997,Toyota,T100,DX,Truck,...,CO,"$28,867.00","$57,125.00","$70,728.00",634423,237039,Colorado,CO,Colorado,West
1704690,cb1d2b49-58be-4cf6-92f1-843ca02dcfb7,SALDV2245VA118067,79995,84113,P6738,1997,Land Rover,Defender 90,Base,SUV,...,MN,"$37,485.00","$64,403.00","$84,559.00",1170623,481263,Minnesota,MN,Minnesota,MidWest
1704691,68335769-7c45-4712-94ee-64ad9bafbcd7,WP0CA2998TS340500,45900,44504,18-41,1996,Porsche,911,Carrera Cabriolet,Car,...,GA,"$23,645.00","$50,853.00","$58,295.00",182841,61220,Georgia,GA,Georgia,South
1704692,81e345ef-e4a5-4c1a-8de1-b73f47d8dc8c,WP0CB2968LS470621,48000,64528,17-51,1990,Porsche,911,Carrera 2 Cabriolet,Car,...,GA,"$23,645.00","$50,853.00","$58,295.00",182841,61220,Georgia,GA,Georgia,South
1704693,090648af-438a-4531-95d0-f817c1f6c98c,1G4HP52K5WH533414,2900,140693,18026,1998,Buick,LeSabre,Custom,Car,...,IN,"$21,527.00","$43,120.00","$54,074.00",131027,50637,Indiana,IN,Indiana,MidWest
1704694,7e66f7b4-5f9c-42b9-bb7a-9d2ebc200659,WDBJH82F9XX017845,3500,168455,867-01,1999,Mercedes-Benz,E-Class,E320 4MATIC,Car,...,NY,"$26,495.00","$57,001.00","$64,371.00",2256400,778630,New York,NY,New York,NorthEast
1704695,caa4a457-825f-4d78-bffa-2978f1c69838,2GCEK19K1R1239763,7500,158909,239763,1994,Chevrolet,C/K 1500,Ext. Cab 6.5-ft. Bed 4WD,Truck,...,WI,"$25,625.00","$53,454.00","$67,058.00",83985,32137,Wisconsin,WI,Wisconsin,MidWest
1704696,64d3a4cf-a209-4ce8-903a-4a2abd78c4bc,WBAEG1315NCB42717,28000,91956,3962,1992,BMW,8 Series,850i,Car,...,NJ,"$47,803.00","$99,020.00","$117,393.00",326207,115531,New Jersey,NJ,New Jersey,NorthEast
1704697,af216182-11f3-4af0-bc46-d186ceec168d,1G1YZ23J3L5802423,27500,31241,2423,1990,Chevrolet,Corvette,ZR1,Car,...,TX,"$27,899.00","$53,137.00","$60,594.00",4182285,1434694,Texas,TX,Texas,South
1704698,7ed81b62-f3ae-422c-a148-b0dc5e9f28c5,1GNGC26K1PJ334642,3950,211461,10896U,1993,Chevrolet,Suburban,2500,SUV,...,TX,"$20,181.00","$34,131.00","$40,917.00",11740,3901,Texas,TX,Texas,South

In [28]:
df.describe()

,price_fs,miles_fs,year_is,engine_size_ss,doors_is,cylinders_is,dom_is,dom_180_is,msrp_fs,dom_active_is,is_certified_is,YEAR,AGE,decommissioned,latitude,longitude,irs_estimated_population_2015,Rank,Population,Number of households
count,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06,1.704699e+06
mean,2.170938e+04,5.653791e+04,2.013856e+03,3.244565e+00,3.842812e+00,5.440498e+00,9.316388e+01,6.122798e+01,2.214444e+04,5.302384e+01,1.336465e-01,2.013856e+03,5.144461e+00,2.581101e-05,3.712305e+01,-8.889699e+01,3.056610e+04,7.615498e+02,8.075424e+05,2.918752e+05
std,1.310995e+04,4.049951e+04,3.148293e+00,1.313633e+00,5.382287e-01,1.522582e+00,1.381696e+02,1.092070e+02,1.334864e+04,9.109365e+01,3.402722e-01,3.148293e+00,3.148293e+00,5.080389e-03,4.757458e+00,1.301631e+01,1.611840e+04,6.826954e+02,1.314076e+06,4.440800e+05
min,1.100000e+03,0.000000e+00,1.990000e+03,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,1.250000e+03,0.000000e+00,0.000000e+00,1.990000e+03,1.000000e+00,0.000000e+00,2.455000e+01,-1.242400e+02,0.000000e+00,1.000000e+00,1.387000e+03,5.490000e+02
25%,1.399900e+04,2.907500e+04,2.013000e+03,2.400000e+00,4.000000e+00,4.000000e+00,2.300000e+01,1.500000e+01,1.450000e+04,1.300000e+01,0.000000e+00,2.013000e+03,3.000000e+00,0.000000e+00,3.400000e+01,-9.464000e+01,1.863000e+04,2.050000e+02,1.603450e+05,6.013900e+04
50%,1.900000e+04,4.450800e+04,2.015000e+03,3.000000e+00,4.000000e+00,6.000000e+00,5.200000e+01,3.200000e+01,1.970700e+04,2.900000e+01,0.000000e+00,2.015000e+03,4.000000e+00,0.000000e+00,3.714000e+01,-8.429000e+01,2.886000e+04,5.320000e+02,4.166680e+05,1.537200e+05
75%,2.700000e+04,7.517300e+04,2.016000e+03,3.600000e+00,4.000000e+00,6.000000e+00,1.110000e+02,6.600000e+01,2.779100e+04,5.900000e+01,0.000000e+00,2.016000e+03,6.000000e+00,0.000000e+00,4.065000e+01,-8.009000e+01,4.066000e+04,1.101000e+03,9.292140e+05,3.605630e+05
max,9.999170e+05,2.200000e+06,2.018000e+03,8.400000e+00,5.000000e+00,1.500000e+01,2.106000e+03,2.106000e+03,9.999170e+05,2.106000e+03,1.000000e+00,2.018000e+03,2.900000e+01,1.000000e+00,4.895000e+01,-6.971000e+01,1.114300e+05,3.139000e+03,9.893481e+06,3.230383e+06

In [31]:
#Dropping obviously redundant columns and Non-Contiguous States
df.drop(["YEAR", "Rank", "States", "States Short", "County", "zip_is"], axis=1, inplace=True)
df.describe()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1704699 entries, 0 to 1704698
Data columns (total 50 columns):
id                               object
vin_ss                           object
price_fs                         int64
miles_fs                         int64
stock_no_ss                      object
year_is                          int64
make_ss                          object
model_ss                         object
trim_ss                          object
vehicle_type_ss                  object
body_type_ss                     object
drivetrain_ss                    object
engine_ss                        object
engine_size_ss                   float64
transmission_ss                  object
doors_is                         int64
cylinders_is                     int64
interior_color_ss                object
exterior_color_ss                object
zip_is                           object
dom_is                           int64
dom_180_is                       int64
msrp_fs                          int64
dom_active_is                    int64
is_certified_is                  int64
fuel_type_ss                     object
scraped_at_dts                   object
status_date_dts                  object
city_ss                          object
state_ss                         object
AGE                              int64
zip                              object
type                             object
decommissioned                   int64
primary_city                     object
state                            object
county                           object
timezone                         object
latitude                         float64
longitude                        float64
irs_estimated_population_2015    int64
county full                      object
State short                      object
Per Capita income                object
Median Household income          object
Median Family income             object
Population                       int64
Number of households             int64
State full                       object
Regions                          object
dtypes: float64(3), int64(15), object(32)
memory usage: 663.3+ MB

In [32]:
df.drop(["zip_is"], axis=1, inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1704699 entries, 0 to 1704698
Data columns (total 49 columns):
id                               object
vin_ss                           object
price_fs                         int64
miles_fs                         int64
stock_no_ss                      object
year_is                          int64
make_ss                          object
model_ss                         object
trim_ss                          object
vehicle_type_ss                  object
body_type_ss                     object
drivetrain_ss                    object
engine_ss                        object
engine_size_ss                   float64
transmission_ss                  object
doors_is                         int64
cylinders_is                     int64
interior_color_ss                object
exterior_color_ss                object
dom_is                           int64
dom_180_is                       int64
msrp_fs                          int64
dom_active_is                    int64
is_certified_is                  int64
fuel_type_ss                     object
scraped_at_dts                   object
status_date_dts                  object
city_ss                          object
state_ss                         object
AGE                              int64
zip                              object
type                             object
decommissioned                   int64
primary_city                     object
state                            object
county                           object
timezone                         object
latitude                         float64
longitude                        float64
irs_estimated_population_2015    int64
county full                      object
State short                      object
Per Capita income                object
Median Household income          object
Median Family income             object
Population                       int64
Number of households             int64
State full                       object
Regions                          object
dtypes: float64(3), int64(15), object(31)
memory usage: 650.3+ MB

In [33]:
df.state_ss.unique()

array(['MO', 'TN', 'VA', 'AZ', 'TX', 'OH', 'SC', 'NE', 'GA', 'IL', 'WA',
       'DE', 'MI', 'FL', 'NC', 'ND', 'WI', 'PA', 'MN', 'CA', 'AR', 'OK',
       'MD', 'NY', 'IN', 'MS', 'KS', 'KY', 'OR', 'IA', 'CO', 'WV', 'AL',
       'NM', 'NV', 'UT', 'SD', 'ID', 'MT', 'CT', 'MA', 'LA', 'NJ', 'WY',
       'NH', 'ME', 'RI', 'VT', 'WS'], dtype=object)

In [34]:
#Remove 
df = df[df.state_ss != 'WS']

In [35]:
df.state_ss.unique()

array(['MO', 'TN', 'VA', 'AZ', 'TX', 'OH', 'SC', 'NE', 'GA', 'IL', 'WA',
       'DE', 'MI', 'FL', 'NC', 'ND', 'WI', 'PA', 'MN', 'CA', 'AR', 'OK',
       'MD', 'NY', 'IN', 'MS', 'KS', 'KY', 'OR', 'IA', 'CO', 'WV', 'AL',
       'NM', 'NV', 'UT', 'SD', 'ID', 'MT', 'CT', 'MA', 'LA', 'NJ', 'WY',
       'NH', 'ME', 'RI', 'VT'], dtype=object)

In [36]:
df.trim_ss.unique()

array(['LTZ', 'Touring', 'Base', ..., 'SE HO', 'XL Reg. Cab 4WD DRW',
       'Convertible 4WD'], dtype=object)

In [37]:
df.doors_is.unique()

array([4, 2, 5, 3])

In [38]:
df.timezone.unique()

array(['America/Chicago', 'America/New_York', 'America/Phoenix',
       'America/Los_Angeles', 'America/Detroit',
       'America/Indiana/Indianapolis', 'America/Denver',
       'America/Kentucky/Louisville', 'America/Boise',
       'America/Indiana/Vincennes', 'America/North_Dakota/New_Salem',
       'America/Menominee', 'America/Indiana/Knox',
       'America/Indiana/Winamac', 'America/Kentucky/Monticello'],
      dtype=object)

In [39]:
#Finding and removing low quantity/ low value Makes 
#df.make_ss.unique()
df['make_ss'].value_counts()
#df.make_ss.count()

Chevrolet        223893
Ford             213230
Toyota           144478
Nissan           125886
Honda            110156
Jeep              94693
Hyundai           70939
BMW               64871
GMC               64446
Lexus             62961
Dodge             57091
Kia               51040
Ram               45054
Mercedes-Benz     42083
Volkswagen        39294
Acura             30795
Subaru            30668
Mazda             30413
Cadillac          29442
Buick             28096
Chrysler          22527
Audi              20620
INFINITI          19202
Lincoln           14183
Land Rover        11320
MINI              10370
Volvo              8888
Porsche            8566
Mitsubishi         5576
Scion              4561
Jaguar             3363
Pontiac            3307
FIAT               2377
Saturn             1784
HUMMER             1654
Mercury            1570
Maserati           1443
Bentley             676
Ferrari             568
smart               432
Suzuki              398
Saab                392
Aston Martin        252
Lamborghini         210
Rolls-Royce         192
Oldsmobile          152
Isuzu                83
Plymouth             63
McLaren              40
Lotus                39
Fisker               23
Alfa Romeo           20
Infiniti             18
AM General           11
Geo                   9
Maybach               4
Daewoo                4
Panoz                 1
Name: make_ss, dtype: int64

In [74]:
#Removing Makes with fewer than 6,000 entries
df = df[df.make_ss != 'McLaren'] # 'Scion', 'Jaguar', 'FIAT', 'smart','Aston Martin', 'Mitsubishi', 'Pontiac', 'Saab','Maserati', 'HUMMER', 'Lamborghini', 'Ferrari', 'McLaren', 'Bentley', 'Oldsmobile', 'Rolls-Royce', 'Mercury', 'Saturn', 'Suzuki', 'Plymouth', 'Isuzu', 'Lotus', 'Alfa Romeo', 'Geo', 'Fisker', 'AM General', 'Daewoo', 'Panoz', 'Maybach')

In [75]:
df['make_ss'].value_counts()

Chevrolet        223893
Ford             213230
Toyota           144478
Nissan           125886
Honda            110156
Jeep              94693
Hyundai           70939
BMW               64871
GMC               64446
Lexus             62961
Dodge             57091
Kia               51040
Ram               45054
Mercedes-Benz     42083
Volkswagen        39294
Acura             30795
Subaru            30668
Mazda             30413
Cadillac          29442
Buick             28096
Chrysler          22527
Audi              20620
INFINITI          19202
Lincoln           14183
Land Rover        11320
MINI              10370
Volvo              8888
Porsche            8566
Name: make_ss, dtype: int64

In [76]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1675205 entries, 0 to 1704698
Data columns (total 49 columns):
id                               1675205 non-null object
vin_ss                           1675205 non-null object
price_fs                         1675205 non-null int64
miles_fs                         1675205 non-null int64
stock_no_ss                      1675205 non-null object
year_is                          1675205 non-null int64
make_ss                          1675205 non-null object
model_ss                         1675205 non-null object
trim_ss                          1675205 non-null object
vehicle_type_ss                  1675205 non-null object
body_type_ss                     1675205 non-null object
drivetrain_ss                    1675205 non-null object
engine_ss                        1675205 non-null object
engine_size_ss                   1675205 non-null float64
transmission_ss                  1675205 non-null object
doors_is                         1675205 non-null int64
cylinders_is                     1675205 non-null int64
interior_color_ss                1675205 non-null object
exterior_color_ss                1675205 non-null object
dom_is                           1675205 non-null int64
dom_180_is                       1675205 non-null int64
msrp_fs                          1675205 non-null int64
dom_active_is                    1675205 non-null int64
is_certified_is                  1675205 non-null int64
fuel_type_ss                     1675205 non-null object
scraped_at_dts                   1675205 non-null object
status_date_dts                  1675205 non-null object
city_ss                          1675205 non-null object
state_ss                         1675205 non-null object
AGE                              1675205 non-null int64
zip                              1675205 non-null object
type                             1675205 non-null object
decommissioned                   1675205 non-null int64
primary_city                     1675205 non-null object
state                            1675205 non-null object
county                           1675205 non-null object
timezone                         1675205 non-null object
latitude                         1675205 non-null float64
longitude                        1675205 non-null float64
irs_estimated_population_2015    1675205 non-null int64
county full                      1675205 non-null object
State short                      1675205 non-null object
Per Capita income                1675205 non-null object
Median Household income          1675205 non-null object
Median Family income             1675205 non-null object
Population                       1675205 non-null int64
Number of households             1675205 non-null int64
State full                       1675205 non-null object
Regions                          1675205 non-null object
dtypes: float64(3), int64(15), object(31)
memory usage: 639.0+ MB

In [77]:
df.year_is.unique()

array([2012, 2014, 2011, 2016, 2003, 2015, 2008, 2006, 2000, 2013, 2017,
       2005, 2009, 2007, 2010, 2002, 2018, 2004, 1995, 2001, 1997, 1999,
       1994, 1996, 1992, 1998, 1993, 1990, 1991])

In [78]:
#Removing years (1990 - 1999)
df = df[df.year_is != 1999] #1990, 1991, 1992, 1993, 1994, 1995, 1996, 1997, 1998, 1999

In [79]:
#Removing Zeros from the IRS Estimated POP Column
df = df[df.irs_estimated_population_2015 != 0]

In [80]:
#saving Final Version
df.to_csv('car_data_clean_complete_v4.csv', index=False, header=True)